@import url(/null.css);

/* common style */
.container {
  max-width: 856px;
  margin: 0 auto;
}
.header__content {
  max-width: 1032px;
  margin: 0 auto;
}

body {
  color: #21243d;
}

/* header */
.header {
}
.header__content {
}

.header__menu {
}
.menu {
}
.menu__icon {
}
.icon-menu {
}
.menu__body {
}

.menu__list {
  height: 82px;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  padding: 10px 0;
}

.menu__link {
  margin: 0px 0px 0px 33px;
  font-size: 20px;
  font-weight: 500;
  color: #000;
}
.menu__link:hover {
  color: #ff6464;
}
/* main */

/* hello */

.page {
}
.hello {
}
.hello__container {
  display: flex;
}
.hello__content {
}
.hello__title {
}
.title {
  font-size: 44px;
  font-weight: 700;
}
.hello__text {
}
.text {
  font-size: 16px;
  line-height: 100%;
}
.hello__avatar {
  height: 243px;
  width: 243px;
}
.hello__btn {
}
.btn {
  background-color: #ff6464;
  border-radius: 2px;
  font-weight: 500;
  font-size: 20px;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  font-size: 20px;
  color: #ffffff;
  padding: 0 30px;
  height: 47px;
  line-height: 145%;
}
/* footer */
